<article class="problem">
  <h2>
    {{model.title}}
  </h2>
  <div class="problem-statement">
    {{markdown-render model.statement}}
  </div>
</article>


<h3>
  Check your solution
</h3>

{{#bs-alert type=alertType visible=alertVisible fade=true}}
  <p>{{ruling}}</p>
{{/bs-alert}}

<form>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="form-group">
          <label for="code">Your code</label>
            {{ivy-codemirror
                options=(hash
                  theme=theme
                  mode=mode
                  keyMap=keyMap
                  lineNumbers=lineNumbers
                )
                value=code
                valueUpdated=(action (mut code))
            }}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label" for="judge">Language</label>
          <select class="form-control" id="judge" onchange={{action "selectJudge" value="target.value"}}>
            {{#each model.judges as |judgeChoice|}}
              <option selected={{eq judge.id judgeChoice.id}} value="{{judgeChoice.id}}">{{judgeChoice.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="keyMap">Editor key bindings</label>
          <select class="form-control" id="keyMap" onchange={{action (mut keyMap) value="target.value"}}>
            {{#each keyMaps as |keyMapChoice|}}
              <option selected={{eq keyMap keyMapChoice}} value="{{keyMapChoice}}">{{keyMapChoice}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-group">
          <button class="btn btn-success btn-lg" type="button" {{action "submitCode"}}>Check code</button>
        </div>
      </div>
    </div>
  </div>
</form>
